-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => @title } 
        %a{:id => "title_header", :href => "/movies?sort_base=title"} Movie Title
      %th Rating
      %th{:class => @date } 
        %a{:id => "release_date_header", :href => "/movies?sort_base=date"} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
